<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static\src\img\Hong_Hy_dove_as_the_messenger_for_Noah_2a6aa923-02ee-4852-8417-f8454689e7d7.ico" type="image/x-icon">
    <title>Spicy Restaurant</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="text-green-600 border-2 h-24" id="name">madhu</div>
</body>
<script src="./static/src/js/home.js" type="text/javascript"></script>
</html>
